.fl {
  float: left;
}

.fr {
  float: right;
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.block {
  display: block;
}


.normalLink {
  cursor: pointer;
}

.error {
  color: #F44336;
}

.clear {
  clear: both;
}

.pointer {
  cursor: pointer;
}

.pre {
  font-size: 0.8em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.webkitInitial {
  -webkit-appearance: initial;
}

.m10 {
  margin: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mr10 {
  margin-right: 10px;
}

.p10 {
  padding: 10px;
}

.relative {
  position: relative;
}

.ma {
  margin: auto;
}


.inline {
  display: inline;
}
